doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .d-flex.justify-content-center
            h4.mb-4 Страница 1
            a(href='#').next Следующая страница >
          .row.blogs
            .col-sm-12.col-md-4.col-lg-4.mb-3.item
              .row
                .col-6.col-sm-12
                  img(src="assets/upload/blog01.jpg").img-fluid
                .col-6.col-lg-12
                  p Ресторанный этикет: как правильно есть хлеб и пользоваться специями
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Отчет о мастер-классе в Риге
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Алкогольный этикет: 5 важных правил
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Ресторанный этикет: правила, которые все нарушают
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Ресторанный этикет: как правильно есть хлеб и пользоваться специями
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Ресторанный этикет: как правильно есть хлеб и пользоваться специями
          nav(aria-label='Page navigation example').mt-3
            ul.pagination.justify-content-center
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') 5
              li.page-item
                a.page-link(href='#') 6
              li.page-item
                a.page-link(href='#') 7
              li.page-item
                a.page-link(href='#') 8

    aside.right-side.text-center
       img(src="/assets/upload/04.jpg" alt='Изображение 03')


    include footer