doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .text-justify.mb-5
            .table
              table
                tbody
                  tr
                    td Телефон:
                    td 8 (926) 674-66-26
                  tr
                    td Email:
                    td olgamerts@yandex.ru
                  tr
                    td Skype:
                    td olgamerts

          .text-justify.mb-3
            p Для меня очень важен комфорт гостей, поэтому для занятий, семинаров и мини-групп я выбираю небольшие уютные площадки в шаговой доступности от метро и с возможностью парковки, в которых участники мероприятий будут чувствовать себя максимально уютно.

    aside.right-side.text-center
       img(src="/assets/upload/03.jpg" alt='Изображение 03')


    include footer