header.container-fluid
  .row
    .col-lg-6
      nav.navbar.navbar-expand-md.navbar-light.mb-header
        a.navbar-brand(href='/')
          img.d-inline-block.align-top.hidden-sm-down(src='assets/img/logo.png', width='140', alt='Ольга Мерц')
          img.d-inline-block.align-top.hidden-md-up(src='assets/img/logo_min.svg', width='140', alt='Ольга Мерц')
        button.navbar-toggler(data-toggle="modal", data-target="#modal-nav")
          span.navbar-toggler-icon
        #navbarText.collapse.navbar-collapse.flex-column
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/')
                | Главная

            li.nav-item
              a.nav-link(href='/services.html') Услуги
            //li.nav-item
            //  a.nav-link(href='/blog.html') Блог
            li.nav-item
              a.nav-link(href='/contact.html') Контакты
          span.navbar-text.d-flex.ml-auto
            | 8 (926) 674-66-26
          span.navbar-text.d-flex.ml-auto
            span Мой&nbsp;
            a(href='#').text-underline Instagram&nbsp;
            span и&nbsp;
            a(href='#').text-underline Facebook

.modal.fade(id="modal-nav" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true")
  .modal-dialog(role='document')
    .modal-content
      .modal-header.flex-column.justify-content-end
        button.close.mb-4.ml-auto(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true').d-flex.align-items-center
            span.modal-close-text.font-weight-normal.mr-3 Закрыть
            span.modal-close-icon ×

      .modal-body
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/')
              | Главная

          li.nav-item
            a.nav-link(href='/services.html') Услуги
          //li.nav-item
          //  a.nav-link(href='/blog.html') Блог
          li.nav-item
            a.nav-link(href='/contact.html') Контакты
        span.navbar-text.d-flex.ml-auto
          | 8 (926) 674-66-26
        span.navbar-text.d-flex.ml-auto
          span Мой&nbsp;
          a(href='#').text-underline Instagram&nbsp;
          span и&nbsp;
          a(href='#').text-underline Facebook


