head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")

  title
  meta(name="description" content="")
  meta(name="keywords" content="")

  link(href="https://fonts.googleapis.com/css?family=Oranienbaum", rel="stylesheet")

  link(rel="stylesheet", type="text/css", href="assets/css/bootstrap.css")
  link(rel="stylesheet", type="text/css", href="assets/css/style.css")
  script(type="text/javascript", src="assets/js/jquery.js")
  script(type="text/javascript", src="assets/js/popper.js")
  script(type="text/javascript", src="assets/js/bootstrap.js")
  script(type="text/javascript", src="assets/js/common.js")


  //link(rel="stylesheet", type="text/css", href="assets/css/all.css")
  //script(type="text/javascript", src="assets/js/all.js")