doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .text-justify.mb-5.m-index
            p Приятно познакомиться! Меня зовут Ольга Мерц, я эксперт по этикету и основатель "Школы Хороших Манер". Окончила курсы этикета при российском посольстве во Франкфурте (Германия), "Высшие курсы этикета" в "Академии имиджа", а также прошла обучение в МГИМО на тему "Этикет как часть протокола". Прошла мастер-классы педагогов по этикету во Франции и работала совместно с "Французским обществом". Веду курс современного этикета в Московском Институте Телевидения и Радиовещания Останкино. Несколько лет назад я разработала собственную программу по визуалистике и коммуникационному этикету, которая помогает людям делать их жизнь еще успешнее, а также основала свою школу.
          .text-center.mb-3
            button.btn.btn-lg.btn-outline-dark.mr-3(data-toggle="modal", data-target="#modal-form") Обратная связь
            a.btn.btn-lg.btn-dark(href='services.html') Смотреть услуги

    aside.right-side.text-center
       img(src="/assets/upload/01.jpg" alt='Изображение 01')

    .modal.fade(id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Мы ответим на вашу заявку в течение суток

          .modal-body
            form#form(action="javascript:void(0);")
              .form-group
                label(for='input-name')
                input#input-name.form-control(type='text', placeholder='Имя', name="name")
              .form-group
                label(for='input-phone')
                input#input-phone.form-control(type='text', placeholder='Телефон', name="phone")
              .form-group
                label(for='input-email')
                input#input-email.form-control(type='email', placeholder='Email', name="email")
              .text-center.mb-3
                input.btn.btn-lg.btn-dark.font-weight-bold(type='submit' value='Отправить')
              .alert.alert-success(role='alert').hidden-xs-up
                | Сообщение отправлено
    include footer