.navbar {
  padding-left:0;
  padding-right:0;
  .navbar-toggler {
    border: none;
    padding-right:0;
  }
  .navbar-nav {
    .nav-item.active {
      text-decoration: underline;
    }
    .nav-item:last-child {
      .nav-link {
        padding-right:0;
      }
    }
  }
  .navbar-collapse {
    @media (max-width: 767px) {
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left: 0;
      background-color: #fff;
    }
  }
}

.right-side {
  @media (max-width: 991px) {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    height: 240px;
    img {
      max-width: 100%;
    }
  }

  @media (min-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    width: 50%;
    max-width: 50%;
    img {
      max-width: none;
    }
  }
}

.services {
  .btn {
    position: relative;
    &:focus {
      box-shadow: none;
    }
  }

  &-left {
    border-left:none;
    border-bottom:none;
    width: 160px;
    height: 80px;

  }

  &-right {
    border-right:none;
    border-left:none;
    border-bottom:none;
    width: 160px;
    height: 80px;
    margin-left:-5px;
  }

  &-left-top {
    border-bottom:none;
    width: 160px;
    height: 80px;
    &:after {
      position: absolute;
      content: "";
      width: 32px;
      height: 1px;
      top: -1px;
      right: 0;
      background-color: #fff;
    }
    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      bottom: 0;
      left: -1px;
      background-color: #fff;
    }
  }

  &-left-top:hover:after, &-left-top:hover:before{
    display: none;
  }

  &-right-top {
    margin-left:-5px;
    border-bottom:none;
    border-left: none;
    width: 160px;
    height: 80px;
    &:after {
      position: absolute;
      content: "";
      width: 32px;
      height: 1px;
      top: -1px;
      left: 0;
      background-color: #fff;
    }
    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      bottom: 0;
      right: -1px;
      background-color: #fff;
    }
  }
  &-right-top:hover:after, &-right-top:hover:before{
    display: none;
  }

  &-left-bottom {
    width: 160px;
    height: 80px;
    &:after {
      position: absolute;
      content: "";
      width: 32px;
      height: 1px;
      bottom: -1px;
      right: 0;
      background-color: #fff;
    }
    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      top: 0;
      left: -1px;
      background-color: #fff;
    }
  }
  &-left-bottom:hover:after, &-left-bottom:hover:before{
    display: none;
  }

  &-right-bottom {
    margin-left:-5px;
    border-left: none;
    width: 160px;
    height: 80px;
    &:after {
      position: absolute;
      content: "";
      width: 32px;
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: #fff;
    }
    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      top: 0;
      right: -1px;
      background-color: #fff;
    }
  }
  &-right-bottom:hover:after, &-right-bottom:hover:before{
    display: none;
  }

}

.modal {
  .modal-dialog {
    position: absolute;
    margin: 0;
    min-width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .modal-content {
    min-height: 100%;
    border: none;
  }
  .modal-header {
    align-items: flex-start;
    border-bottom: none;
    .close {
      opacity: 1 !important;
      text-shadow: none;
      vertical-align: middle;
    }
    .modal-close-text {
      font-size: 18px;
    }
    .modal-close-icon {
      font-weight: 100;
      font-size: 54px;

    }
  }
  @media (min-width: 992px) {
    .modal-header {
      //align-items: flex-start;
      border-bottom: none;
      .close {
        opacity: 1 !important;
        text-shadow: none;
        vertical-align: middle;
      }
      .modal-close-text {
        font-size: 18px;
      }
      .modal-close-icon {
        font-weight: 100;
        font-size: 54px;

      }
    }
    .modal-dialog {
      position: absolute;
      margin: 0;
      min-width: 50%;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .modal-content {
      height: 100%;
      border: none;
      border-left: 1px solid #343a40;
    }
  }
}

.form-control {
  border-left:none;
  border-right:none;
  border-top:none;
}

.table {
  td {
    border: none;
  }
  tr {
    td:first-child {
      padding-left:0;
    }
  }

}

.text-underline {
  text-decoration: underline;
}

[data-toggle="modal"]:focus {
  box-shadow: none;
  outline: none;
}


.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .m-index {
    margin-bottom:28px !important;
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .modal {
    .close {
      margin-bottom:0 !important;
    }
  }
}


.mb-header {
  margin-bottom:6px;
  @media (min-width: 992px) {
    .mb-header {
      margin-bottom:24px;
    }
  }
}

.pagination {
  .page-item {
    padding-top:14px;
  }
  .page-item.active {
    padding-top:0;
    .page-link {
      color: #000;
      font-size: 180%;
      background-color: transparent;
    }
  }
  .page-link {
    border: none;
  }
  .page-item:hover {
    .page-link {
      background-color: transparent;
    }
  }

}

.blogs {
  p {
    font-size: 16px;
  }
  .item {
    hr {
      border-top:none;
      margin:0;
    }

  }
}
@media (max-width: 768px) {
  .item {
    margin-bottom:0 !important;
    hr {
      margin-top:15px !important;
      margin-bottom:15px !important;
      border-bottom: 1px dotted #000;
      border-top:none;
    }
  }
}

.next {
  position: absolute;
  right: 30px;
  font-size: 16px;
}